@page "/"

<h1>ROUND @currentRound</h1>

@code {
    private int currentRound;

    protected override void OnInitialized()
    {
        var rng = new Random();
        currentRound = rng.Next(1, 24);
    }
}