@page "/"
@inject HttpClient Http

@if (currentRound == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h1 style="float:left">ROUND @currentRound</h1>
        <span id="refresh-button" class="oi oi-loop-circular" aria-hidden="true" @onclick="RefreshData"></span>
    </div>
}

<style>
    #refresh-button {
        float: right;
        font-size: 200%;
    }

        #refresh-button:active {
            transform: rotate(90deg);
        }
</style>

@code {
    private int currentRound;

    protected async override Task OnInitializedAsync()
    {
        currentRound = await Http.GetFromJsonAsync<int>("api/fixture/currentRound");
    }

    private async void RefreshData()
    {
        await Http.GetAsync("api/fixture/update");
    }
}